.layout {
  display: flex;
  background: #F6F7F9;
  flex: 1; // remove height: 100vh
}
.main {
  display: flex;
  gap: 24px;
  padding: 24px;
  flex: 1;
  overflow: auto;
}
.left-panel { flex: 1.2; display: flex; flex-direction: column; }
.right-panel { flex: 1; display: flex; flex-direction: column; gap: 24px; }